body {
    opacity: 0; 
    animation: fadeIn 2s ease-in-out forwards; 
    font-family: 'Quicksand', serif;
    overflow-x: hidden;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Navbar Style */
  .navbar-brand img {
    max-height: 40px;
    margin-right: 10px;
  }
  
  .navbar-toggler .material-symbols-outlined {
    color: #70aad8 !important;
  }
  
  .navbar-nav {
    justify-content: right;
    flex: 1;
  }
  
  .nav-link {
    text-align: right;
  }
  
  .navbar-nav .nav-item {
    color: #70aad8 !important;
    margin-right: 10px;
  }
  
  .navbar {
    justify-content: space-between;
    background-color: #062333 !important;
  }
  .navbar a {
    color: #70aad8 !important;
  }
  
  @media (max-width: 767px) {
    .navbar-nav {
      flex-direction: column;
      align-items: stretch;
    }
  }